#daycounter {
    font-family: 'Syne Mono', monospace;
    font-size: 200%;
    text-align: center;
    border:rgb(108, 108, 255); border-width:10px; border-style:solid;
    margin: 20px;
    padding: 60px;
    color: aliceblue;
}

body{
    font-family: 'Cairo',sans-serif;
    background-color: #bcbffe;
    font-size: 120%;
}

#miraitext{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: #353535;
    margin: 2%;
}

#link {
    text-align: center;
}